<div class="chat">
    <div id="chat-messages">
        {{#each chatMessages}}
            <div>{{this.chatMessage}}</div>
        {{/each}}
    </div>
    <div>
        <label>
            <input id="chat-message" name="chat-message" placeholder="Input message"/>
        </label>
    </div>
    <div>
        <button id="send-chat-message">Send message</button>
    </div>
</div>