<div class="feedback">
    <div class="container col-md-4 d-flex">
    <div class="category-feedback-filter">
            <div class="feedback mb-5 mt-5">
                <label for="category-filter">Фильтр по категории</label>
                <select class="form-select" aria-label="Пример выбора по умолчанию" id="category-filter">
                    <option value="0" selected>Все</option>
                    {{#each categories}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
    </div>
    <div id="feedback-messages" class="message-items mb-5">
    </div>
        <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="name-user" placeholder="Ваше имя">
    </div>
    <div class="input-group mb-3">
        <textarea class="form-control" aria-label="With textarea" id="feedback-message" placeholder="Введите текст сообщения"></textarea>
    </div>
    <select class="form-select mb-3" aria-label="Default select example" id="category">
        {{#each categories}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <button type="button" class="btn btn-secondary col-3 btn-message" id="send-feedback-message">Send message</button>
</div>
</div>
