<section class="home">
    <div class="container home-wrapper">
        <div class="home-content">
            <div class="home-title">
                <h1 class="title-text">Lorem ipsum dolor sit amet.</h1>
            </div>
            <div class="home-subtitle mt-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laboriosam laudantium molestias
                    natus nulla
                    porro, quia tempore? Atque dolorem dolorum eum laudantium magnam quam, quos recusandae repudiandae
                    sint soluta
                    voluptatem.
                </p>
            </div>
            <div class="button-container mt-4">
                <a class="button-link btn btn-danger">
                    <span>Read text</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="home-components">
    <div class="container home-components-wrapper">
        <ul class="list-group home-components-list">
            <li class="list-group-item home-components-item">
                <a href="#" class="home-component-link">
                    <div class="home-components-img hover-image-scale">
                        <picture>
                            <source srcset="../../img/belay.png" media="(min-width: 768px)">
                            <img src="../../img/belay-mob.png"  alt="belay">
                        </picture>
                    </div>
                </a>
                <h3 class="home-components-title">Belay</h3>
            </li>
            <li class="list-group-item home-components-item">
                <a href="#" class="home-component-link">
                    <div class="home-components-img hover-image-scale">
                        <picture>
                            <source srcset="../../img/quickdraws.png" media="(min-width: 768px)">
                            <img src="../../img/quickdraws-mob.png"  alt="belay">
                        </picture>
                    </div>
                </a>
                <h3 class="home-components-title">Quickdraws</h3>
            </li>
            <li class="list-group-item home-components-item">
                <a href="#" class="home-component-link">
                    <div class="home-components-img hover-image-scale">
                        <picture>
                            <source srcset="../../img/rock-protection.png" media="(min-width: 768px)">
                            <img src="../../img/rock-protection-mob.png"  alt="belay">
                        </picture>
                    </div>
                </a>
                <h3 class="home-components-title">Rock protection</h3>
            </li>
            <li class="list-group-item home-components-item">
                <a href="#" class="home-component-link">
                    <div class="home-components-img hover-image-scale">
                        <picture>
                            <source srcset="../../img/climbing-ropes.png" media="(min-width: 768px)">
                            <img src="../../img/climbing-ropes-mob.png"  alt="belay">
                        </picture>
                    </div>
                </a>
                <h3 class="home-components-title">Climbing ropes</h3>
            </li>
        </ul>
    </div>
</section>

