<div class="container">
    <div class="editor-wrap">
        <div class="toolbar"><i class="fa fa-free-code-camp" title="no-stack-dub-sack">
            </i>Editor<i class="fa fa-arrows-alt"></i>
        </div>
        <textarea id="editor" type="text"></textarea>
    </div>
</div>
