<div class="quote" id="quote-box">
<div id="wrapper">
    <div id="quote__box">
        <div class="quote__text" id="text">
            <i class="fa fa-quote-left"> </i><span id="text">Either write something worth reading or do something worth writing.</span>
        </div>
        <div class="quote__author" id="author">- <span id="author">Benjamin Franklin</span></div>
            <button class="button" id="new-quote" >New quote</button>
        </div>
    </div>
</div>
</div>
