<div class="quote">
    <div id="quote__wrapper">
        <div id="quote__box">
            <div class="quote__text" id="quote__text">
                <i class="fa fa-quote-left mx-3" > </i><span id="text"></span>
            </div>
            <div class="quote__author">- <span id="author"></span></div>
            <button class="button fa-pull-right" id="new-quote">New quote</button>
        </div>
    </div>
</div>
