<form id="registration-form" onsubmit="return false">
    <div class="col-md-3 form-wrap">
        <div class="mb-3"><span id="message" class="message-js"></span></div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email address</label>
            <input type="text" id="email" class="form-control"  aria-describedby="emailHelp" required>
        </div>
        <div id="error-email-js" class="registration-form-error-js message-js"></div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" required>
        </div>
        <div id="error-password-js" class="registration-form-error-js message-js"></div>
        <button type="submit" id="submit-registration" class="btn btn-secondary">Registration</button>
    </div>
</form>

