<div class="registration">
    <form id="registration-form" onsubmit="return false;">
        <div><span id="message" class="message-js"></span></div>
        <div class="registration-form-element">
            <div id="error-email-js" class="registration-form-error-js message-js"></div>
            <label>
                <input type="text" id="email" name="email" class="registration-input" placeholder="Input email" required/>
            </label>
        </div>
        <div class="registration-form-element">
            <div id="error-password-js" class="registration-form-error-js message-js"></div>
            <label>
                <input type="password" id="password" name="password" class="registration-input" minlength="1" placeholder="Input password" required/>
            </label>
        </div>
        <div class="registration-form-element">
            <button id="submit-registration">Registration</button>
        </div>
    </form>
</div>
