<div class="sign-form">
    <form id="sign-in-form" onsubmit="return false;">
        <div><span id="message" class="message-js"></span></div>
        <div class="sign-form-element">
            <div id="error-email-js" class="sign-in-form-error-js message-js"></div>
            <label>
                <input type="text" id="email" name="email" placeholder="Input email" required/>
            </label>
        </div>
        <div class="sign-form-element">
            <div id="error-password-js" class="sign-in-form-error-js message-js"></div>
            <label>
                <input type="password" id="password" name="password" minlength="1" placeholder="Input password" required/>
            </label>
        </div>
        <div class="sign-form-element">
            <button id="submit-sign-in">Sign In</button>
        </div>
    </form>
</div>
