<html>
<head>
    <title>Express handlebars</title>
    <script src="js/main.js"></script>
    <link href="css/header.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div class="header">
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation-item">
                <a class="img" href="/">
                    <img src="img/rock-climber.jpg" alt="Скалолаз" width="100%" height="100%">
                </a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link current main" href="/">Главная</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link users" href="/users">Участники</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link faq" href="/feedback">Обратная связь</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link shoping" href="/shop">Магазин</a>
            </li>
            <li class="navigation-item">
                <div class="identification">
                    <div>
                        <a href="/sign-up">Регистрация</a>
                    </div>
                    <div>
                        <a href="/sign-in">Войти</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
<div class="wrapper">
    <div class="content">{{{body}}}</div>
    <div class="footer">
        <div class="logo-list">
            <img src="img/facebook.png" alt="facebook" class="logo fb">
            <img src="img/instagram.png" alt="instagram" class="logo inst">
            <img src="img/telegram.png" alt="telegram" class="logo tl">
            <img src="img/vk.png" alt="vk" class="logo vk">
        </div>
    </div>
</div>
</body>
</html>
